*{
    margin: o;
    padding: 0;
    
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.main{
    height: 100%;
    width: calc(100vw - 6vw);
    margin: 3vw;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.logo img{
    height: 7vw;
}

.nav-right{
    display: flex;
    gap: 5vw;
}

.nav-right p{
    font-size: 1.1vw;
    cursor: pointer;
}
.nav-menu{
    display: none;
}

.blog-heading{
    font-size: 4vw;
    line-height: 0.3;
    font-weight: 600;
}

.trending-class{
    background-color: #d8befe;
    display: inline-block;
    border-radius: 30px;
    width: 8vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending-class p{
    font-weight: 600;
    font-size: 1vw;
}


.title-image{
    height: 25vw;
    width: 100%;
}

.title-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale();    
}

.main-content{
    display: flex;
    gap: 5vw;
}

.left-content{
    flex: 4;
    font-size: 1vw;
}

.right-content{
    flex: 4;
    font-size: 1vw;
}

.right-content .right-content-head{
    font-size: 1.2vw;
    font-weight: 600;
}

.right-content table tr td{
    border: 1px solid #cccccc;
    padding: 0.4vw;
}

.right-content table{
    border-collapse: collapse;
}

.testimonial-section{
    margin-top: 2vw;
    font-size: 1vw;
}


.testimony-title{
    font-weight: 600;
    font-size: 1.3vw;
}


.testimony{
    display: flex;
}

.testimony-left{
    flex: 3;
}

.testimony-right{
    flex: 2.5;
}

.testimony-left i{
    padding: 0 1vw;
    font-size: 1.89vw;
    font-weight: 600;
}

.testimony-left p{
    padding: 0 3.5vw;
}

.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider i{
    font-size: 2vw;
}

.slider-name{
    border: 1px solid black;
    padding: 0.4vw;
    font-size: 1vw;
    border-radius: 10px;
}

.slider-active{
    background-color: black;
    color: white;
}

.news-letter{
    font-size: 1vw;
}

.news-letter-sub{
    display: flex;
    justify-content: space-between;
    margin-left: 3vw;
}

.news-letter-head{
    font-size: 2.5vw;
    font-weight: 600;
}

.news-letter-left{
    flex: 1;
}

.news-letter-right{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.news-letter-right form input{
    height:2.5vw;
    width: 18vw;
}

.news-letter-right form button{
    height: 2.5vw;
    width: 8vw;
    background-color: black;
    color: white;
    font-size: 1vw;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 5vw;
    justify-content: space-around;
}

.footer-content{
    flex: 1;
    line-height: 2;
    font-size: 1vw;
}

.head{
    font-weight: 600;
    font-size: 1.1vw;
}

.color-gray{
    color: #787878;
}

.snr{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footer-snr-top{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

.footer-snr-top span i{
    font-size: 2.2vw;
}

.footer-brands{
    margin: 1vw 5vw;
    display: flex;
    flex-wrap: wrap;
}

.footer-brands img{
    height: 40px;
    gap: 15px;
    filter: grayscale();
    opacity: 0.6;
}

.footer-copyright{
    background-color: #d8d8d8;
    text-align: center;
    color: black;
    padding: 2vw 0;
    font-size: 1vw;
}


@media screen and (max-width: 600px) {
    .nav-element{
        display: none;
    }
    .nav-menu{
        display: block;
        align-items: center;
        font-size: 4vw;
    }

    .logo img{
        object-fit: cover;
        width: 13vw;
    }

    .main-content{
        flex-direction: column;
    }
    .left-content, .right-content{
        font-size: 2vw;
    }

    .testimonial-section{
        font-size: 2vw;
    }

    .testimony-title{
        font-size: 2.2vw;
    }

    .news-letter{
        font-size: 2vw;
    }

    .news-letter-sub{
        flex-direction: column;
        gap: 1.5vw;
    }

    .news-letter-right{
        justify-content: start;
    }

    .news-letter-right form input{
    height:1.5vw;
    width: 18vw;
    font-size: 2vw;
    }

    .news-letter-right form button{
    height:2vw;
    width: 5vw;
    font-size: 1.2vw;
    }

    
    .footer-content{
        font-size: 2vw;
    }

    .footer-copyright{
        padding: 2vw 0;
        font-size: 2vw;
    }
}



